dn: cn=module{0},cn=config
changetype: modify
add: olcModuleLoad
olcModuleLoad: syncprov

dn: olcDatabase={1}hdb,cn=config
changetype: modify
add: olcDbIndex
olcDbIndex: entryUUID eq
-
add: olcSyncRepl
olcSyncRepl: rid={{ openldap_sync_rid }} provider=ldap://{{ openldap_sync_provider }} bindmethod={{ openldap_sync_bindmethod }} timeout={{ openldap_sync_timeout }} network-timeout={{ openldap_sync_network_timeout }} binddn="{{ openldap_sync_binddn }}" credentials="{{ openldap_sync_credentials }}" keepalive={{ openldap_sync_keepalive }} starttls={{ openldap_sync_starttls }} filter="{{ openldap_sync_filter }}" searchbase="{{ openldap_sync_searchbase }}" scope={{ openldap_sync_scope }} schemachecking={{ openldap_sync_schemachecking }} type={{ openldap_sync_type }} interval={{ openldap_sync_interval }} retry="{{ openldap_sync_retry }}"
-
add: olcUpdateRef
olcUpdateRef: ldap://{{ openldap_sync_provider }}
