set_cachesize 0 {{ openldap_dbconfig_set_cachesize }} 0
set_lk_max_objects {{ openldap_dbconfig_set_lk_max_objects }}
set_lk_max_locks {{ openldap_dbconfig_set_lk_max_locks }}
set_lk_max_lockers {{ openldap_dbconfig_set_lk_max_lockers }}
