# {{ ansible_managed }}

# Basics

{% for schema in openldap_server_schemas %}
include /etc/ldap/schema/{{ schema }}.schema
{% endfor %}

pidfile {{ openldap_server_pidfile }}
argsfile {{ openldap_server_argsfile }}
loglevel {{ openldap_server_loglevel }}

password-hash {{ openldap_server_password_hash }}

modulepath {{ openldap_server_modulepath }}
{% for module in openldap_server_modules %}
moduleload {{ module }}
{% endfor %}

# Database configuration

database {{ openldap_server_database }}
suffix "{{ openldap_server_suffix }}"
rootdn "{{ openldap_server_rootdn }}"
rootpw {{ rootpw.stdout }}
directory {{ openldap_server_directory }}
{% for index in openldap_server_indexes %}
index {{ index }}
{% endfor %}

# ACLs
{% for acl in openldap_server_acls %}
access {{ acl }}
{% endfor %}
